.former-group {
    .former-group-hidden {
        display: none;
    }

    .former-group-typeMore {
        .former-group-item-title {
            text-align: center;
            cursor: pointer;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            ;
            padding-top: 8px;
            border-bottom: none;
            opacity: .4;

            .former-group-collapse {
                * {
                    display: none;
                }

                width: 100%;
                right: 0;
                height: 100%;
                top:0;
            }
        }
    }
    >.former-group-item {

        &:last-child {
            .former-group-item-content  {
                padding-bottom: 0;
            }
        }
        &.former-group-type-0 {
            .former-object-item {
                padding-right: 0px;
                padding-left: 0px;
            }
            .former-group-item-content  {
                padding: 0;
                border:None;
                background-color: transparent;
            }
        }
    }

    .former-group-item-title {
        position: relative;
        line-height: 30px; 
        color: #2E2E2E;
        opacity: .65;
        padding-left: 4px;
        cursor: pointer;
        font-size: 16px;
        text-transform: uppercase;

        -webkit-user-select: none;
        >.anticon:first-child {
            margin-left: 8px;
            opacity: .4;
            transition: all .2s;
            &:Hover {
                opacity: 1;
            }
        }
        .former-group-collapse {
            width: 12px;
            height: 12px;
            display: inline-block;
            z-index: 1;
            opacity: .4;
            font-size:14px;
            margin-left: 8px;
            cursor: pointer;
        }

        padding-bottom: 4px;
        margin-bottom: 8px;
    }

    .former-group-item-content {

        transition: all .4s;
        height: auto;

        border: 1px dashed #f0f0f0;
        border-radius: 12px;
        padding: 16px 0;
        padding-bottom: 16px;

        margin-bottom: 16px;
        &:Hover {
            background-color: #fcfcfc;
        }
        .former-group-item-content {
            padding-bottom: 0;
            padding-top: 0;
        }
        &.former-group-item-border {
            >.former-object-colspan-two {
               .former-group-item-content {
                .former-object-item  {
                    padding-left:0;
                    padding-right:0;
                    &.former-object-colspan-one {
                        padding-right: 16px;
                    }
                }
               }
            }
            .former-group-item-content:not(.former-group-item-border){
                border:none;
            }
        }
    }

    .former-group-item-hidden {
        height: 0;
        padding: 0;
        display: none;
        overflow: hidden;
    }
}