.ui-classify-panel {
    .ui-mircotable {
        height: calc(100% - 100px);
        //overflow: auto;
        .infinite-scroll-component__outerdiv{
            .infinite-scroll-component  {
                padding: 0px;
            }
        }
    }
    .ui-extra {
        position: absolute;
        top: -6px;

        right: 0px;;
    }
    .ui-header {
        padding: 16px 0px;
        font-size:24px;
        padding-top: 4px;
        position: relative;
        line-height: 24px;
        .ui-title {
            text-transform:capitalize;
            opacity: .6;
            span.des {
                text-transform:none;
                font-size: 14px;
                vertical-align: bottom;
                color:#aaa;
                padding-left: 16px;
                line-height: 16px;
                p {
                    display:inline;
                    padding: 0;
                    margin: 0
                }
            }
            span.anticon {
                opacity: .8;
                margin-right: 8px;
            }
        
        }
    
    }
    .ui-label {
        span:not(.anticon) {
            background: #ddd;
            border-radius: 3px;
            margin-left:4px;
            font-size: 12px;
            color:#888;
            padding: 0 2px;
            transform: scale(.5);
        }
        span.anticon {
            margin-right:4px;
        }

    }
    .ant-tabs-nav-list {
        padding-left: 0px;
        
    }
    .ant-tabs-extra-content{
        padding-right:0px;
        
        text-align: right;;
        .ant-input-group-wrapper {
            max-width: 140px;
        }
    }
    .ant-tabs-nav{
        background-color: #fff;
        margin-bottom: 0;
    }
    .ant-tabs-top {
        >.ant-tabs-nav {
            .ant-tabs-ink-bar {
                height: 4px;
            }
        
            .ant-tabs-tab-btn {
                text-transform: uppercase;
            }
        }
    }
    .ant-tabs-tab {
        padding: 8px 0;
        +.ant-tabs-tab {
            margin-left: 24px;;
        }
    }
    .ant-tabs-content-holder {
        padding: 0;
    }
}