.former-object-item {
  .ant-select {
    min-width: 50%;
    max-width: 100%;
  } 
 
}
.design-former-select-remarks {
  color:#ccc;
  padding-left: 8px;
  font-weight: 100;
}
.ant-tooltip-inner,
.ant-select-item-option-content {
  > span.anticon {
    margin-right: 8px;
    border: 1px solid var(--main-border-color);
    border-radius: 3px;
    background-color: var(--main-background-color);
  }
}

.ant-select-outlined.ant-select-disabled:not(.ant-select-customize-input) .ant-select-selector {
  background: rgba(0, 0, 0, 0.01);
}
.ant-select-item,
.ant-select-selection-item {
  font-size:12px;
  .ui-label-name {
    width: 10px;
    height: 10px;
    margin-right: 2px;
    display:inline-block
  }
}