
.feedback-wrapper {
    .ant-tabs-nav {
        margin-bottom: 0;
    }
    .ant-tabs-card.ant-tabs-small.ant-tabs-top >.ant-tabs-nav .ant-tabs-tab {
        border-radius: 0;
        border-left:0;
        margin-left: 0;
        border-top: 2px solid transparent;
        
        &.ant-tabs-tab-active {
            border-top-color:#1677ff
        }
    }
    box-sizing: border-box;
    height:100%;
    width: auto;
    overflow: hidden;
    padding-top: 37px;
    > .ant-tabs {
        position: relative;
        height: 100%;   
        .ant-tabs-nav {
            position: relative;
            margin-top: -37px;
        }
    }
    
    .ant-tabs-content-holder {
        height: 0;
        .ant-tabs-content {
            height: 100%;
            .ant-tabs-tabpane {
                height: 100%;
            }
        }
    }

}