:root {


    --contexify-menu-bgColor: #fff;
    --contexify-separator-color: rgba(5,5,5,0.06);
    --contexify-item-color: rgba(0, 0, 0, 0.88);;
    --contexify-activeItem-color: #333;
    --contexify-activeItem-bgColor: rgba(0, 0, 0, 0.04);;
    --contexify-rightSlot-color: rgba(0, 0, 0, 0.45);;
    --contexify-activeRightSlot-color: rgba(0, 0, 0, 0.45);;
    --contexify-arrow-color: rgba(0, 0, 0, 0.45);;
    --contexify-activeArrow-color: rgba(0, 0, 0, 0.45);;
    --contexify-menu-minWidth: 150px;
    
    --contexify-itemContent-padding: 2px;
    --contexify-separator-margin: 4px 0 ;
    --contexify-zIndex: 666;
    --contexify-menu-padding: 6px;
    --contexify-menu-radius: 8px;
    --contexify-menu-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    --contexify-menu-negatePadding: var(--contexify-menu-padding);
  
}
.contexify {
    padding: 8px 4px;
}
.contexify_itemContent {
    font-size: 14px;
}
.ui-menu-danger {
    
    .contexify_itemContent  {
        color:#ff4d4f

    }

    &:hover {
        .contexify_itemContent {
            color: #fff !important;
            background: #ff4d4f !important;    
        }
        
    }
}
.contexify_separator {
    margin: 4px 8px;
    opacity: .5;
}
.contexify_itemContent {
    padding: 2px 8px;
    
    .anticon {
        margin-right: 8px;
        opacity: .8;
    }
    .contexify_rightSlot {
        font-size:12px;
        svg {
            width: 12px;
        }
    }
}