.ui-runtest-input {
    max-height: calc(100vh - 150px);
    max-width: 550px;
    padding: 4px;
    .ui-former-notice {
        padding: 8px 16px; 
    }
    .ui-former-buttons {
        text-align: left;
    }
    .ui-former-header {
        display: none;;
    }
    .ant-spin-nested-loading {
        height: 100%;
        .ant-spin-container {
            height: 100%;
            .ui-former-content {
                height: 100%;

                .former-column-one {
                    max-height: calc(100vh - 320px);
                    overflow: auto;
                    border: 1px dashed var(--main-border-color);
                    border-radius: 12px;
                    padding: 8px;
                    .former-group .former-group-item-content {
                        border: none;
                    }
                }
            }
        }
    }

}