.block-card-item {
   
    .ant-list-grid .ant-col>.ant-list-item {
        border-radius: 8px;
        padding: 16px;
        padding-block: 16px;
        background-color: #fff;
        transition: all .2s ease-in-out;
        box-shadow: 0 2px 4px 0 rgba(30, 30, 31, 0.0392156863);
        border:.5px solid var(--secondary-border-color);
         .ant-list-item-meta {
            align-items: center;
         }
        &.block-item-type-avatar {
            .ant-list-item-meta-avatar {
                .ant-avatar {
                    border-radius: 12px;
                    width: 64px !important;
                    height: 64px !important;
                    color:#666 !important;
                    border:1px solid #dfdfdf;
                }
            }
        }
        &.block-item-type-image {
            .ant-list-item-meta-avatar {
                width: 38.2%;
            }
            .ui-cardlist-image {
                border-radius: 8px;
                overflow: hidden;
            }
            img {
                width: 100%;
                display: block;;
            }
        }
    }

    .block-item-pointer {
        cursor: pointer;
    }
    &.block-card-theme-border {
        .ant-list-item {
            border: 1px solid #e8e8e8;
            &:Hover {
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.089);
            }
        }
    }
    .ant-typography  {
        text-align: center;
    }
    &.block-card-layout-left {
        .ant-typography {
            text-align: left;
        }
    }
    &.block-card-theme-section {
        .ant-list-grid .ant-col>.ant-list-item {
            .ant-list-item-meta {
                align-items: center;
             }
        }
        h2 {
            font-size: 50px;
            margin-top: 0;

        }
        .block-card-subtitle {
            font-size:18px;
        }
    }
}