
@keyframes dot-blink {
    0%, 100% {
        content: '';
    }
    20% {
        content: '.';
    }
    40% {
        content: '..';
    }
    60% {
        content: '...';
    }
    80% {
        content: '..';
    }
}

.dialogue-efficiency-popover {
    margin-left: -16px;
    .ant-dropdown-arrow {
        margin-left: -8px;
    }
    
}
.ant-dropdown-menu .ant-dropdown-menu-item {
    padding: 4px 8px;
}

.ant-dropdown-menu-submenu-arrow {
    transform: scale(0.8);
    opacity: .3;
}

.dialogue-popover {
    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }   
    }
    .ant-popover-title {
        line-height: 24px;
        padding-bottom: 4px;
        opacity: .6;
        border-bottom: 1px solid var(--secondary-border-color);
    }
    .ant-popover-content {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .dialogue-content {
        min-width: 500px;
        .thinking {
            opacity: .6;
            &::after{
                min-width: 30px;
                content: ' ';
                opacity: .6;
                display: inline-block;
                margin-left: 1px; /* 调整点与输入框的间距 */
                height: 14px;
                overflow: hidden;
                line-height: 14px;
                animation: dot-blink 1.5s steps(5) infinite;
            }
    
        }

        .dialogue-message-list {
            min-height: 200px;
            max-height: calc(100vh - 200px);
            overflow-y: auto;
            padding-bottom: 16px;
            padding-top: 16px;
            counter-reset: item -1;

            input.ant-input{
                width: auto;
                min-width: 80%;
            }

            .dialogue-message-item {
                display: flex;
                width: calc(100% - 20px);
                padding: 0 10px;
                margin-bottom: 10px;

                position: relative;

                &.hidden {
                    display: none;
                }
                .dialogue-message-system {
                    opacity: .3;
                    text-align: center;
                    width: 100%;
                    display: block;
                    font-size: 12px;
                    
                }

                &.reverse {
                    flex-direction: row-reverse;
                    .dialogue-message-item-avator {
                        .ant-avatar{
                            margin-left: auto;
                            margin-right: -6px;
                        }
                    }
                    .dialogue-message-item-content {
                        text-align: right;

                        >.arrow {
                            transform: translateX(100%) rotate(90deg);
                            left: auto;
                            right: 10px;
                        }

                        >div {
                            margin-left: 32px;
                            margin-right: 0px;
                            text-align: left;
                            background-color: var(--secondary-background-color);
                            &::before {
                                right: auto;
                                left: -28px;
                                background-color: var(--secondary-background-color);
                            }
                        }
                    }
                }
                &.nonumber {
                    .dialogue-message-item-content {
                        >div{
                            &::before {
                                text-indent: -10000px;
                            }
                        }
                    }
                }
            }

            .dialogue-message-item-avator {
                width: 32px;
                .ant-avatar {
                    margin-left: -6px;
                    img {
                        width: auto;
                        height: 100%;
                    }
                }
            }

            .dialogue-message-item-content {
                flex-grow: 1;
                padding: 0 8px;
                position: relative;
                padding-bottom: 16px;

                img {
                    display: block;
                    max-width: 100%;
                    min-height: 100px;
                    min-width: 100px;
                    background-color: #f2f2f2;

                }
                .image-wraper {
                    padding: 8px;
                    .ui-empty {
                        border-radius: 4px;
                        background-color: #f2f2f2;
                        padding: 16px;
                        max-width: 50%;
                        
                    }
                    .ui-image {
                        p {
                            opacity: .5;
                            display:none;
                        }
                    }
                    &.image-success .ui-image {
                        p {
                            display: block;;
                        }
                    }
                }
                .dialogue-context {
                    font-weight: bold;
                    padding-bottom: 8px;
                }

                >.arrow {
                    position: absolute;
                    left: -23px;
                    top: 11px;
                    width: 16px;
                    height: 16px;
                    overflow: hidden;
                    pointer-events: none;
                    display: block;
                    transform: translateX(100%) rotate(-90deg);

                    &::after {
                        position: absolute;
                        bottom: 0;
                        inset-inline-start: 0;
                        width: 16px;
                        height: 8px;
                        background: var(--antd-arrow-background-color);
                        clip-path: polygon(1.6568542494923806px 100%, 50% 1.6568542494923806px, 14.34314575050762px 100%, 1.6568542494923806px 100%);
                        clip-path: path('M 0 8 A 4 4 0 0 0 2.82842712474619 6.82842712474619 L 6.585786437626905 3.0710678118654755 A 2 2 0 0 1 9.414213562373096 3.0710678118654755 L 13.17157287525381 6.82842712474619 A 4 4 0 0 0 16 8 Z');
                        content: " ";
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        width: 8.970562748477143px;
                        height: 8.970562748477143px;
                        bottom: 0;
                        inset-inline: 0;
                        margin: auto;
                        border-radius: 0 0 2px 0;
                        transform: translateY(50%) rotate(-135deg);
                        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
                        z-index: 0;
                        background: transparent;
                    }
                }

                >div {
                    border: 1px solid var(--secondary-border-color);
                    border-radius: 12px;
                    padding: 12px;
                    display: inline-block;
                    box-shadow: 0 2px 2px 2px rgba(30, 30, 31, 0.0292156863);
                    max-width: 400px;
                    
                    word-break: break-all;
                    overflow-wrap: break-word;
                    margin-right: 32px;
                    position: relative;
                    &:hover {
                        &::before {
                            opacity: .4;
                        }
                    }
                    &::before {
                        counter-increment: item;
                        content: '#' counter(item);
                        position: absolute;
                        right: -28px;
                        top: 0;
                        opacity: 0;
                        transition: opacity .3s;
                    }
                    .ant-descriptions-view {
                        padding: 8px;
                       
                    }
                    .dialogue-message-item-content-text {
                        &:empty {
                            display: none;
                        }
                        &:not(:only-child) {
                            padding-bottom: 8px;
                        }
                        > * {
                            padding: 0;
                            margin: 0;
                        }
                        code {
                            background-color: var(--main-background-color);
                            border-radius: 4px;
                            padding: 0px 4px;
                        }
                        ol,ul {
                            margin-left: 16px;
                            padding-top: 8px;
                            padding-bottom: 8px;
                            list-style: circle;
                            opacity: .8;
                            transition: opacity .3s;
                            &:hover {
                                opacity: 1;
                            }
                            li {
                                margin-block-end: 0;
                                p {
                                    margin-bottom: 0;
                                    margin-top: 0;
                                }
                                ul {
                                    padding-top: 0;
                                    margin-top: 0;
                                    padding-left: 0;
                                    margin-left: 1em;
                                }
                            }
                        }
                    }
                }
            }
        }
        .dialogue-message-history-clear {
            text-align: center;
          
            .ant-space {
                border-radius: 12px;
                cursor: pointer;
                opacity: .4;
                transition: opacity .3s;

                &:hover {
                    //background-color: var(--main-background-color);
                    opacity: .9;
            
                }
            }
        }
        .dialogue-footer {
            position: relative;

            >.anticon:not(.disabled) {
                cursor: pointer;
            }
            textarea {
                padding-right: 32px;
                padding-left: 32px;
                border-radius: 12px;;
            }
            .ant-input-disabled {
                opacity: 0.6;
                background: #f6f6f6;
            }
            >span.disabled {
                opacity: 0.3;
            }
            >span:not(.more) {
                position: absolute;
                right: 10px;
                bottom: 7px;
                font-size: 20px;
                text-align: center;
                width: 24px;
                height: 24px;
            }
            span.more {
                position: absolute;
                left: 9px;
                bottom: 8px;
                font-size: 20px;
                text-align: center;
                width: 24px;
                height: 24px;
                z-index: 11;
                border-radius: 4px;
                &.ant-dropdown-open,
                &:hover {
                    background-color: #dfdfdf;
                }

                &::after {
                    content: ' ';
                    display: block;
                    width: 0;
                    height: 0;
                    border: 3px solid transparent;
                    border-bottom-color: var(--main-front-color);
                    position: absolute;
                    bottom: 3px;
                    right: 3px;
                }
            }
        }
    }
}