.ui-block-item-type-outline {
    text-align: center;
    padding: 48px;
    background:#fff;
    border-radius: 16px;
    h1.ant-typography,
    h2.ant-typography {
        padding-top: 16px; 
    }

    .block-outline-subtitle {
        font-size:16px;
        opacity: .8;
    }
    .ant-btn {
        border-radius: 32px;
    }
    .block-outline-tags {
        padding-top: 32px;
        .ant-tag {
            border-radius: 1.6em;
            padding: .4em;
            font-size: 1.3em;
            opacity: .6;
            span:not(.anticon):last-child {
                display:none;
            }
        }
    }
}