.ui-avatar-merge {
    display: inline-block;
    position: relative;
    .ui-sub {
        position: absolute;
        transform: scale(.8);
        .ant-avatar {
            padding: 6px;
            border-radius: 4px 0 0 0 ;
        }
        z-index: 111;
        bottom: -10px;
        right: -7px;


        svg {
            path {
                stroke: #fff;
                stroke-width: 12px;
                
            }
        }
    }
}
.ui-avatar-type-avatar {
    border:none !important;
    background-color: transparent !important;
    font-size: 52px !important;
    height: 52px !important;
    width: 52px !important;
}