
.ui-clock {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 24px;
    border-radius: 50%;
    border: 3px solid var(--main-border-color);
    --step: 60s;
    left: -6px;
    top: -6px;
    padding: 3px;
    
    &::before{
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: repeating-conic-gradient(from -.5deg,#333 0 1deg, transparent 0deg 30deg), repeating-conic-gradient(from -.5deg,#ccc 0 1deg, transparent 0deg 6deg);
        -webkit-mask: radial-gradient(transparent 145px, red 0);
        
    }


    .clock-pane{
        width: 60px;
        height: 60px;
        position: absolute;
        left: -32px;
        top: -1px;
    }
    span{
        position: absolute;
        offset-path: path('M44 24C44 35.0458 35.0458 44 24 44C12.9542 44 4 35.0458 4 24C4 12.9542 12.9542 4 24 4C35.0458 4 44 12.9542 44 24Z');
        offset-distance: calc( var(--i) * 10% / 1.2 - 25%);
        offset-rotate: 0deg;
        transform: scale(.2);
        opacity: .8;
    }
    .hour{
        position: absolute;
        width: 2px;
        height: 12px;
        background: #333;
        transform-origin: center bottom;
        transform: translateY(-50%) rotate(0);
        animation: clock calc(var(--step) * 60 * 12) infinite linear;
        animation-delay: calc( -1 * var(--step) * var(--dh) * 60);
        opacity: .5;
    }
    .min{
        position: absolute;
        width: 2px;
        height: 19px;
        background: #333;
        transform-origin: center bottom;
        transform: translateY(-50%) rotate(0);
        animation: clock calc(var(--step) * 60) infinite linear;
        animation-delay: calc( -1 * var(--step) * var(--dm));
        opacity: .5;
    }
    .sec{
        position: absolute;
        width: 2px;
        height: 22px;
        background: red;
        transform-origin: center bottom;
        transform: translateY(-50%) rotate(0);
        animation: clock var(--step) infinite steps(60);
        animation-delay: calc( -1 * var(--step) * var(--ds) / 60 );
        opacity: .5;
    }
    .sec::after{
        content: '';
        position: absolute;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        left: 50%;
        bottom: 0;
        background: #fff;
        border: 2px solid #333;
        transform: translate(-50%, 50%);
    }
    @keyframes clock {
        to {
            transform: translateY(-50%) rotate(360deg);
        }
    }
}

