.ui-runtest-toolbar {
    position: absolute;
    bottom: 16px;
    left: 32px;
    z-index: 12;
    right: 32px;

    pointer-events: none;
    
    .ui-mircotable .ui-mircotable-avatar {
        padding: 0 4px;
    }

    .ui-mircotable.ui-mircotable-small .ui-mircotable-avatar > span {
        color: var(--main-font-color)
    }
    .ui-exte {
        position: absolute;
        right: -4px;
        top: 16px;
        span {
            opacity: .5;
        }
        button:hover {
            span{
                opacity: .8;
                color:var(--main-color)
            }
        }
        .ant-picker {
            width: 207px;
            opacity: .5;
            transition: all .2s;
        }
        .ant-radio-group {
            opacity: .5;
            transition: all .2s;
        }
        .ant-picker-range {
            .ant-picker-range-separator {
                padding: 0
            }
        }
        &:hover {
            .ant-picker ,
            .ant-radio-group {
                opacity: 1;
            }
        }
    }
    &.ui-body-hidden {
        bottom: 32px;
        .ui-body {
            display:none;
        }
        .ui-exte {
            display: none;;
        }
    }
    .ui-runtest-bar {
        font-size:24px;
        color:var(--main-color);
        cursor: pointer;
        display: inline-block;
        pointer-events: auto;
        span {
            background:var(--main-color);
            color:var(--main-inverse-color);
            border-radius: 5px;
            padding: 12px;
            margin-right: 8px;
            transition: all .2s;
        }
        &:hover {
           span{ transform: scale(1.05);}
        }
    }
    .ui-runtest-action {
        display:inline-block;
        margin-left: 32px;
        pointer-events: auto;
        .ant-space-item {
            cursor: pointer;
            opacity:.7;
        }
        .ant-segmented-thumb,
        .ant-segmented-item-selected {
            border-bottom: 2px solid var(--main-color);
            color: var(--main-color)
        }
    }
    .ui-body {
        margin-top: 8px;
        opacity: .7;
        background-color: var(--main-inverse-bg-color);
        transition: all .2s;
        overflow: auto;
        .ant-list-item {
            &.ui-selected {
                .ant-list-item-meta-description,
                .ant-list-item-meta-title {
                    color:var(--main-color);
                }
                .ant-list-item-meta-avatar {
                    background-color: var(--main-color);
                    span {
                        color:var(--main-inverse-color)
                    }
                }
            }
            
        }
    }
}