.former-switch {
    display: inline-block;
    position: relative;
    top: -1px;
    .ant-switch-small {
        min-width: 35px;
    }
    &.former-size-large {
        
    }
    &.former-size-default {
        height: 32px;
        line-height: 32px;;
    }
    button {
        margin-right: 4px;
    }
    .ui-placeholoder {
        opacity: .6;
        vertical-align: middle;
    }
}