.ui-button-drawer {
    .former-object .former-group-item-content {
        margin-right: 0;
    }
    
    .ui-former-buttons {
        position: fixed;
        z-index: 101;
        top: 12px;
        right: 22px;
        .ant-space-item:last-child {
            display:none;
        }
    }
    
    .ant-drawer-body {
        .ui-header {
            position: fixed;
            width: 705px;
            z-index: 100;
            top: 11px;
            margin: 0;
            right: -11px;
            font-size: 20px;

            .ui-extra {
                padding-top: 6px;
                right: 35px;
            }
        }
        .ant-tabs {
            display: none;
        }
        .ant-tabs-nav {
            padding-bottom: 12px;
        }
    }
    .ui-smartpage-wrapper {
        margin-top: 24px;
    }
    .tabler-wrapper .ant-table.ant-table-layout-fixed .ant-table-content {
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
}
.ui-former-button-metapop {
    width: 520px;
    .ant-list-item-meta-title {
        margin-bottom: 0 !important;

    }
    .ant-popover-title {
        opacity: .5;
    }
    &.ant-popover .ant-popover-inner {
        padding: 16px;
    }
    .ant-list-item {
        padding: 4px 8px;
        border: 1px solid var(--main-border-color);
        cursor: pointer;
        border-radius: 8px;;
        transition: all .2s;
        margin-bottom: 6px;
        h4 {
            span {
                font-weight: 300;
                opacity: .4;
            }
        }

        &:Hover {
            background-color: var(--main-background-color);

            transform: scale(1.01);
            max-width: calc(100% + 10px);
            z-index: 11;
            box-shadow: 1px 1px 4px rgba(0,0,0,.026);

        }
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
            border-block-end: 1px solid var(--main-border-color);
        }
    }
    .ant-list-item-meta {
        align-items: center !important;
    }
}

.ui-meta-button {
    border: 1px solid var(--main-border-color);
    
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 8px;
    transition: all 0.2s;
    display: flex;
    align-items: center;

    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
    background-color: #fafafa;
    
    justify-content: space-between;
    cursor: default;
    &.ui-meta-empty {
        cursor: pointer;
        .ui-meta-avatar {
            .ant-space-item:nth-child(2) {
                opacity: .5;
            }
        }
        .ui-meta-content {
            opacity: .7;
        }
    }
    &.ant-popover-open,
    &.ui-meta-empty:Hover {

        transform: scale(1.01);
        max-width: calc(100% + 10px);
        z-index: 11;
        box-shadow: 1px 1px 4px rgba(0,0,0,.066);
        border-color: var(--main-bg-color);
        color: var(--main-bg-color);
        background-color: var(--main-background-color);
    }
    > button {
        gap: 4px;
        padding: 4px 8px;
    }
    .ui-meta-button-meta {
        display: flex;
        flex: 1;
        align-items: flex-start;
        max-width: 100%;
        align-items: center;
        .ui-meta-content {
            padding-left: 16px;
           p {
             opacity: .4;
           }
        }
        .ui-meta-avatar {
            .ant-space-gap-col-small {
                column-gap:3px;
            }
        }
        h3 {
            padding: 0;
            margin: 0;
            span {
                font-weight: 200;
                opacity: .5;
                font-size:12px;
            }
        }
    }
}