.ui-reco-filter {
    min-width: 500px;
    max-width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    .ant-list-item-action {
        display:none;
    }
    .ant-popover-inner {
        padding: 16px;
    }
    .ui-searchbar {
        position: absolute;
        right: 0;
        width: 140px;
    }
   
    .ui-recofilter-title {
        position: relative;

        .ui-back {
            opacity: .6;
            cursor: pointer;
            span {
                font-size:24px;
                vertical-align: top;
                margin-right: 4px;
            }
            &:hover {
                opacity: .8;
            }
        }
        .ui-tit {
            opacity: .8;
            span {
                font-size:18px;
                vertical-align: middle;
                margin-right: 8px;
                opacity: .6;
            }
        }
        .ant-space-item-split {
            font-size:12px;
            opacity: .6;
        }
        .ui-minisearch {
            position: absolute;
            top: -4px;
            right: 0px;
        }
    }
    .ui-mircotable.ui-mircotable-small .ant-list-split .ant-list-item::after {
        display:none;
    }
    .ui-mircotable.ui-mircotable-small .ant-list-item-meta .ant-list-item-meta-title ,
    .ui-mircotable.ui-mircotable-small .ant-list-item-meta .ant-list-item-meta-description {
        display: block;
        margin-left: 0;
        font-weight: initial;
    }
    .ant-popover-title {
        border-bottom: 1px solid var(--main-inverse-border-color);
        padding-bottom: 8px;
    }
    .ant-tag {
        margin-inline-end: 0;
        padding-inline: 4px;
        line-height: 16px;
        font-size:12px;
    }
    .ui-header {
        opacity: .5;
        padding-bottom: 8px;
        position: relative;

        padding-left: 8px;
    }
    .ant-popover-title {
        opacity: .7;
    }
    .ui-bodyer {
        
        .ui-mircotable {
            height: calc(90vh - 100px);
            max-height: 600px;
            overflow: auto;
            font-size:12px;
            opacity: .8;
        }
        .ant-list .ant-list-item .ant-list-item-meta .ant-list-item-meta-title {
            opacity: .9;
        }

        .ui-mircotable.ui-mircotable-small .ant-list .ant-list-item .ant-list-item-meta .ant-list-item-meta-avatar {
            //margin-top: 3px;
        }
        .ant-list-item .ant-list-item-meta .ant-list-item-meta-description {
            font-size:12px;
            padding-top: 2px;
            line-height: 14px;
        }
        .ant-list-item {
            cursor: pointer;
            border: 0.5px solid #fff;
            
            &:not(.stop-animation):hover {
                box-shadow: 0 2px 4px 0 rgba(30, 30, 31, 0.0392156863);
                border: 0.5px solid var(--secondary-border-color);
                margin-left: -0.5px;
                margin-top: -0.5px;

                transform: scale(1.01);
                max-width: calc(100% + 10px);
            }
        }
    }
}
.ui-node-configure-wrapper {
    .ui-createdat-wrapper {
        display: none;
    }
    .ui-mircatable-type-avatar {
        .ui-mircotable-avatar span {
            //color:#fff
        }
    }
}