.feedback-record-panel {
    width: 100%;
    height: 100%;
    font-size:12px;
    .ant-table-wrapper .ant-table.ant-table-small .ant-table-thead>tr>th,
    .ant-table-wrapper .ant-table.ant-table-small .ant-table-tbody>tr>td {
        padding: 4px 8px;
    }

    .ant-table-wrapper,
    .ant-spin-nested-loading,
    .ant-spin-container,
    .ant-table-small {
        height: 100%;
        overflow: hidden;
    }
    .ant-table-container {
        height: 100%;
        overflow: hidden;
        box-sizing: border-box;
        padding-top: 30px;
        position: relative;
        .ant-table-header{
            position: relative;
            margin-top: -30px;
        }
    }
}