.ui-smartpage-article {
    height: 100%;
    .ant-typography {
        margin: 0;

        .ant-avatar {
            margin-right: 8px;
        }
        opacity: .7;
    }
    .former-group .former-group-item-content {
        border: 1px solid #f1f1f1;
    }
    .ui-smartpage-article-des {
        padding-left: 40px;
        font-size: 12px;
        color:#ccc;
        padding-top: 4px;
        padding-right: 16px;
        .anticon {
            margin-right: 2px;
        }
        >span:first-child {
            padding-left: 0px !important;
        }
        .ui-sp-des-ct {

            padding-left: 16px;
        }
    }
    .ui-smartpage-article-title {
        position: relative;
        margin: 0px;
        padding-bottom: 16px;
        border-bottom: 1px solid #f2f2f2;

        .ui-smartpage-article-toolbar {
            position: absolute;
            top: 0;
            right: 16px;
            .ant-btn:not(.ant-btn-icon-only)>.ant-btn-icon:not(:last-child) {
                margin-inline-end:2px;
                
            }
            .ant-btn-primary:not([disabled])  {
                background: #fff;
                border: 1px solid #1677ff;
                color: #1677ff;
            }
            .ant-space-compact {
                display: inline;
                margin-left: 8px;
            }
            span > .ant-space {
                margin-right: 0;
                .ant-space-item:last-child {
                    margin-right: -8px;
                }
                .ant-space-item:first-child {
                    margin-right: 0px !important;
                }
            }
        }
        button.ui-former-cancel{
            display: none;
        }
    }

    .ui-smartpage-article-content {
        padding: 8px 0;
        box-sizing: border-box;
        height: calc(100% - 64px);
        overflow: auto;
        padding-top: 24px;
        padding-right: 16px;
        
        .ant-alert {
            border-radius: 4px;
            background:#fdfdfd;
            border-color:#eee;
            border-left-width: 4px;
            margin: 16px 0;
            opacity: .7;
        }
        .ui-smartpage-wrapper {
            min-height: 100px;;
        }
        .ui-former-content {
            padding-right: 8px;
        }
        .ui-article-content {
            font-size: 14px;
            padding: 16px;
            border: 1px dashed #f0f0f0;
            border-radius: 5px;
            pre {
                opacity: .8;
                white-space: pre-wrap;
            }
            ol, ul {
                padding-inline-start: 2em;
            }

            >*:first-child{
                margin-top:0
            }
            >*:last-child{
                margin-bottom:0
            }

            h1 {
                opacity: .7;
                font-size: 24px;
            }
            h2 {
                opacity: .7;
                font-size: 20px;
            }
            h3 {
                opacity: .7;
                font-size: 18px;
            }
        }
    }
}