.former-datasource-extra {
    padding-right: 8px;
    button {
        color:#1677ff
    }
    span.t {
        color:#ccc;
        margin-right: 4px;
    }
    span.anticon {
        margin-left: 4px;
    }
    span.anticon-check-circle {
        color:green;
    }
    span.anticon-close-circle {
        color:red
    }
}