.former-tags-popup {
  .rc-virtual-list-holder-inner {
    display:block !important;
    .ant-select-item-option-state,
    .ant-select-item-option-content {
      display: inline-block !important;
      vertical-align:middle;
      font-size: 13px;
    }
    .ant-select-item {
      display:inline-block !important;
      padding: 0px 8px;
      margin: 4px;
      min-height: 24px;
    }
  }
}
.former-tags-wrapper {
  width: 100%;
   .ant-select {
      min-width: 60%;
  }
}
