.demo-smart-page {
    height: 100%;
    .hoofs-sidebar {
        float: left;
        height: 100%;
        z-index: 1111;
    }
    .ui-smartpage-wrapper {
        overflow: hidden;
        height: 100%;
    }
}