.ui-mircoflow-log {
    position: absolute;
    top: 60px;
    right: 16px;
    width: 380px;
    bottom: 16px;

    background-color: #fff;
    z-index: 130;
    padding: 16px ;
    
    border-radius: 12px 12px;
    counter-reset: list-counter;
    box-shadow: 0 2px 4px 0 rgba(30, 30, 31, 0.0392156863);
    .ant-alert-message {
        margin-bottom: 0px;
    }
    .ant-alert-success {
        background-color: #fff;
        .anticon-check-circle {
            color:#52c41a;
            margin-inline-end: 4px;
        }
        .ui-run-log-output {
            padding-left: 32px;
            left: -47px;
            position: relative;
            width: calc(100% + 8px);
        }
    }
    .ui-emblem {
        position: absolute;
        height: 0;

        border-radius: 0px 12px 0 0;
        width: 0;
        border: 18px dashed transparent;
        border-top-color: #ddd;
        border-right-color: #ddd;
        right: 0px;
        top: 0px;
        &::after {
            position: absolute;
            top: -13px;
            right: -20px;
            font-size: 12px;
            content: attr(data-text);
            
            color:#000;
            transform: scale(.7) rotate(45deg);
            text-shadow: 2px 2px 1px rgba(0, 0, 0, .056);
        }
    }

    .ui-runlog-body {
        height: calc(100% - 138px);
        width: calc(100%);
        overflow: auto;
        padding-right: 17px;
    }
    
    dl {
        padding: 8px;
        border-radius: 6px;
        margin-bottom: 2px;
        margin-top: 0;
        position: relative;
        transition: all .2s;
        background: #fff;

        opacity: .8;
        &:hover {
            
            border-color: var(--main-bg-color);
            box-shadow: 1px 1px 4px rgba(0, 0, 0, .056);
            opacity: 1;
            transform: scale(1.01);
        }

        &.ui-disabled {
            dt {
                opacity: .5;
                .anticon {
                    color:#ccc !important
                }
            }
            dd {
                display:none;
            }
        }

        dd {
            margin-inline-start: 0px;
            padding-top: 4px;
            
            .ant-alert {
                padding: 8px;
                transition: all .2s;
                &:hover {
                    opacity: 1;
                }
            }
        }
        dt {
            &:before {
                counter-increment: list-counter; /* 每次遇到 li 元素，计数器加 1 */
                content: "#" counter(list-counter); /* 输出计数器的值作为内容 */
                //position: absolute;
                left: 0px;
                opacity: .2;
            }
            font-size: 14px;


            .ui-program {
                opacity: .5;
                font-size: 12px;
            }
            .ui-method {
                font-size: 12px;
            }
            .ui-serial {
                font-size:12px;
                display: inline-block;
                border: 1px solid #ccc;
                line-height: 12px;
                text-align: center;
                opacity: .3;
                width: 12px;
                border-radius: 3px;
                margin-left: -4px;

            }
        }
    }

    .ui-mircoflow-log-close {
        position: absolute;
        left: -11px;
        font-size: 27px;
        top: -14px;
        
        span {
            opacity: .2;
            transition: all .3s;
        }
        cursor: pointer;
        &:hover {
            
            span {
                opacity: .8;
                transform: rotate(90deg);
            }
        }
    }
    .ui-step-number {
        position: absolute;
        right: 8px;
        top: 0px;
        font-size:12px;
        opacity: .2;
    }
    .ui-runlog-go {
        .ant-list-item-meta-title {
            background:var(--module-go-bg-color)
        }
    }
    .ant-alert-description {
        font-size: 12px;
    }
    .ui-runlog-router {
        .ant-list-item-meta-title {
            background:var(--module-router-bg-color)
        }
    }
    .ui-runlog-module,
    .ui-runlog-control {
        .ant-list-item-meta-title {
            background:var(--module-module-bg-color)
        }
    }
    .ui-mircotable {
        
        &.ui-mircotable-mini .ant-list-split .ant-list-item {
            margin-bottom: 0;
            &::after{
                display:none;
            }
        }
    }
    .anticon-check-circle {
        color:var(--main-success-color)
    }
    .anticon-loading {
        color: var(--main-process-color)
    }
    .anticon-warning {
        color: var(--main-error-color)
    }
    .ant-divider-horizontal.ant-divider-with-text  {
        margin: 8px 0;
        margin-bottom: 0;
    }
    
    .ant-list-item-meta-title {
        padding: 0px 2px;
        background:var(--emphasize-bg-color);
        color: var(--main-bg-color) !important;
    }
    table {
        border-spacing: 0;
    }
    .ant-alert-with-description .ant-alert-icon {
        font-size:16px;
    }
    >.ant-descriptions  .ant-descriptions-header {
        margin-bottom: 4px;
    }
    >.ant-descriptions .ant-descriptions-row >td{
        margin-bottom: 0;
        padding-bottom: 0;

    }
    >.ant-descriptions   >.ant-descriptions-header > .ant-descriptions-title {
        span {
            opacity: .7;
            .anticon {
                margin-right: 8px;
                font-size: 42px;
                vertical-align: middle;
            }
        }
    }
    >.ant-descriptions .ant-descriptions-item-container .ant-descriptions-item-label {
        width: 75px;
        padding-left: 8px;
    }
    >.ant-descriptions  .ant-descriptions-item-content {
        opacity: .6;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .ant-space {
            opacity: .6;
            padding-top: 8px;
            .ant-space-item {
                padding: 0px 4px;
                border-radius: 5px;
                background-color: var(--emphasize-bg-color);
                font-size: 12px;

            }
        }
    }
}