.ui-scope-panel-tooltip {
    .ant-popover-title > span {
        margin-right: 8px;
    }
}
.ui-function-info {
    max-width: 350px;
    
    dt {
        font-weight: bold;;
        padding-bottom: 8px;
        opacity: .8;
        font-size: 12px;;
        span {
            font-weight: 400;
            margin-left: 8px;
            opacity: .6;
        }
    }
    p {
        line-height: 1.25;
    }

    dd {
        margin-inline-start: 1.2em;
        line-height: 1.25;
        padding-bottom: 8px;
        &:last-child {
            padding-bottom: 0;
        }
        span:last-child {
            opacity: .5;
        }
    }
}
.ant-space-horizontal{
    .ant-space-item:first-child {
        .ui-scope {
            margin-right: -1px;
            .ui-scope-inner {
                border-radius: 6px 0 0 6px;
                
            }
        }
    }
    .ant-space-item:last-child {
        .ui-scope {
            margin-right: -1px;
            .ui-scope-inner {
                border-radius: 0px 6px 6px 0px;
                
            }
        }
    }
}
.ant-space-compact {
    .ui-scope {
        .ui-scope-inner {
            border-radius: 0;;
        }
    }
    .ui-scope:first-child {
        margin-right: -1px;
        .ui-scope-inner {
            border-radius: 6px 0 0 6px;
            
        }
    }
    .ui-scope:last-child {
        margin-right: -1px;
        .ui-scope-inner {
            border-radius: 0px 6px 6px 0px;
            
        }
    }
}
.former-object-item-label {
    .ui-scope {
        display: inline-block;
        vertical-align: middle;
        height: 24px;
        .ui-scope-inner  {
            height: 24px;
            padding: 0 8px;
            border: 1px solid var(--main-border-color);
        }
        
    }
}

.ui-scope {
    line-height: 1.5714285714285714;
    font-size:14px;
    height: 32px;
    transition: all .2s;
    position: relative;
    cursor: text;

    .ui-scope-wrapper {
        display: inline-block;
    }
    .anticon {
        opacity: .6;
        margin-left: -2px;
        margin-right: 2px
    }
    &.ui-scope-textarea {
        height: 64px;
        .ui-scope-inner {
            height: 64px;
            min-height: 64px;
        }
    }
    &.ui-scope-visibility {
        .ui-scope-inner {
            display:none;
        }
    }
    &.ui-scope-error {
        .ui-scope-inner {
            border-color: #ff4d4f;
        }
    }
    .ui-scope-inner  {
        position: absolute;
        left: 0px;
        top: 0px;

        padding: 4px 8px;
        width: 100%;
        height: 32px;
        overflow: hidden;
        box-sizing: border-box;

        border: 1px solid #d9d9d9;
        background-color: #fff;
        border-radius: 6px;
        z-index: 11;
        transition: all .2s;
        .ui-scope-input:first-child {
            margin-left: -3px;
        }
        .ui-scope-content {
            >.ui-scope-input:not(:empty) {
                &::after{
                    content: ',';
                    display: inline-block;
                    margin-right: 4px;
                }
            }
            >.ui-scope-scope {
                margin-right: 4px;
                &::after{
                    content: ',';
                    display: inline-block;
                    margin-left: 4px;
                    position: absolute;
                }
            }
            >*:last-child {
                
                &::after{
                    display: none !important;
                }
            }
        }
    }
    
    &.ui-scope-focus {
        z-index: 111;
        .ui-scope-placeholder {
            display: none;
        }
        .ui-scope-inner {
            height: auto;
            z-index: 1111;

            border-color:var(--main-bg-color);
            box-shadow:0 0 0 2px rgba(5, 55, 255, 0.06);outline:0;
        }
        .ui-scope-function,
        .ui-scope-scope,
        .ui-scope-vaiable,
        .ui-scope-keywor {
            display:inline-block;
        }
    }
    .ui-scope-scope,
    .ui-scope-vaiable {
        display: inline-block;
        word-break: break-all;
        line-height: 16px;
        &:hover,
        &.ant-popover-open {
            span {
                opacity: .9 !important;
            }
            color:#fff;
            background-color: var(--main-bg-color);
        }
    }
    .ui-scope-prefix {
        padding-left: 24px;
        >span.anticon{
            position: absolute;
            top: 8px;
            left: 6px;
        }
        .ui-scope-placeholder {
            left: 24px
        }
        .ui-scope-content {
            
            width: calc(100% - 30px);
        }
    }
    .ui-scope-content {
        box-sizing: border-box;
        display:inline-block;
    }
    .ui-scope-bind {
        .ui-scope-content {
            padding-right: 30px;
        }
        button {
            position: absolute;
            right: 3px;
            top: 3px;
        }
    }

    .ui-scope-placeholder {
        position: absolute;
        height: 32px;
        top: 2px;
        width: 100%;
        overflow: hidden;
        pointer-events: none;
        opacity: .2;
    }
    .ui-scope-function {
        .ui-scope-keyword {
            display: inline-block;
        }
        &.ui-scope-function-hight {
            > .ui-scope-keyword {
                background-color: var(--main-bg-color) !important;
                color:#fff;
                span {
                    opacity: .9;
                }
            }
            
        }
        &:Hover {
           > .ui-scope-keyword {
                background-color: #d9d9d9;
            }
        }
        &:first-child {
            margin-left: 0
        }
        button {
            height: 16px;
            width: 16px;
            margin-top: -3px;
            font-size: 12px;
            line-height: 1.5714285714285714;
            vertical-align: middle;
            padding: 0;
        }
    }

    .ui-scope-input {
        padding: 1px 0;
        border: none;
        display: inline-block;

        border-radius: 0;
        outline: none;
        min-width: 3px;
        
        width: auto;
        height: 16px;
        position: relative;
        line-height: 16px;
        word-break: break-all;
        &:focus{
            outline: none;
        }
        &:empty {
            content: "d"
        }
    }
    .ui-scope-keyword-one {
        padding: 0 4px; 
        margin: 0 4px;
    }

    .ant-select {
        min-width: auto !important;
        &.ant-select-show-arrow
        .ant-select-selection-item {
            padding-inline-end: 14px !important;
        }
        .ant-select-arrow{ 
            inset-inline-end: 7px;
        }
    }
    .ui-scope-scope,
    .ui-scope-vaiable,
    .ui-scope-keyword {
        background:var(--main-background-color);
        border-radius: 3px;
        padding: 1px 4px;
        transition: all .3s;
        display: inline;
        margin-bottom: 4px;
        max-width: calc(100% - 11px);
        .number {
            padding: 0px;
            border: .5px solid var(--main-border-color);
            font-size: 12px;
            height: 14px;
            line-height: 14px;
            margin-left: 2px;
            vertical-align: middle;
            margin-top: -2px;
            display: inline-block;
            width: 14px;
            text-align: center;
            opacity: .3;
            border-radius: 50%;
        }
        cursor: default;
        span.anticon {
            opacity: .2;
            margin-right: 4px;;
        }
    }
}