.ui-scope-panel-tooltip {
    .ant-popover-title > span {
        margin-right: 8px;
    }
}
.ui-function-info {
    max-width: 350px;
    
    dt {
        font-weight: bold;;
        padding-bottom: 8px;
        opacity: .8;
        font-size: 12px;;
        span {
            font-weight: 400;
            margin-left: 8px;
            opacity: .6;
        }
    }
    p {
        line-height: 1.25;
    }

    dd {
        margin-inline-start: 1.2em;
        line-height: 1.25;
        padding-bottom: 8px;
        &:last-child {
            padding-bottom: 0;
        }
        span:last-child {
            opacity: .5;
        }
    }
}

.ui-scope {
    line-height: 1.5714285714285714;
    font-size:14px;
    height: 32px;
    transition: all .2s;
    position: relative;
    cursor: text;
    .ui-scope-inner  {
        position: absolute;
        left: 0px;
        top: 0px;

        padding: 4px 8px;
        width: 100%;
        height: 22px;
        overflow: hidden;

        border: 1px solid #d9d9d9;
        background-color: #fff;
        border-radius: 6px;
        z-index: 11;
        transition: all .2s;
    }
    
    &.ui-scope-focus {
        .ui-scope-inner {
            height: auto;

            border-color:var(--main-bg-color);
            box-shadow:0 0 0 2px rgba(5, 55, 255, 0.06);outline:0;
        }
    }
    .ui-scope-scope,
    .ui-scope-vaiable {
        display: inline-block;
        &:hover,
        &.ant-popover-open {
            
            color:#fff;
            background-color: var(--main-bg-color);
        }
    }
    .ui-scope-function {
        &.ui-scope-function-hight {
            > .ui-scope-keyword {
                background-color: var(--main-bg-color) !important;
                color:#fff;
            }
        }
        &:Hover {
           > .ui-scope-keyword {
                background-color: #d9d9d9;
            }
        }
        &:first-child {
            margin-left: 0
        }
        button {
            height: 16px;
            width: 16px;
            margin-top: -3px;
            font-size: 12px;
            line-height: 1.5714285714285714;
            vertical-align: middle;
            padding: 0;
        }
    }

    .ui-scope-input {
        padding: 0;
        border: none;
        display: inline-block;

        border-radius: 0;
        outline: none;
        margin-bottom: 1px;
        min-width: 2px;
        
        width: auto;
        height: 16px;
        position: relative;
        line-height: 16px;
        border-bottom: 1px dashed var(--main-border-color);
        &:focus{
            outline: none;
        }
        &:empty {
            content: "d"
        }
    }
    .ui-scope-keyword-one {
        padding: 0 4px; 
        margin: 0 4px;
    }
    .ui-scope-scope,
    .ui-scope-vaiable,
    
    .ui-scope-keyword {
        background:var(--main-background-color);
        border-radius: 3px;
        padding: 0 4px;
        margin-right: 4px;
        transition: all .3s;
        display: inline-block;
        margin-bottom: 1px;
        cursor: default;
        span.anticon {
            opacity: .2;
        }
    }
}