.former-object {
    .former-object-item-hidden {
        display:none !important;
    }
   
    &.former-object-viewer {
        .former-object-item .former-object-label-description {
            padding-bottom: 0;
        }
    }
    .former-object-required {
        >.former-object-item-label {
            >.former-object-label-title {
                position: relative;

                &:before {
                    content: "*";
                    position: absolute;
                    height: 12px;
                    line-height: 12px;
                    width: 12px;
                    text-align: center;
                    left: -12px;
                    top: 50%;
                    margin-top: -6px;
                    color: red;
                    opacity: .4
                }
            }
        }
    }
    .former-object-hidden-item {
        padding-bottom: 0 !important;
    }
    .former-group-item-content {
        //margin-right: -8px;
    }
    .former-object-label-bold {
        .former-object-label-title {
            font-weight: bold;
        }
    }
    .former-object-item {
        display: inline-block;
        width: 100%;
        vertical-align: top;

        box-sizing: border-box;
        
        &:has(>.former-object-item-content:empty) {
            display: none;
        }

        &.former-object-default {
            .former-object-label-title {
                font-size: 16px;
                line-height: 24px;
            }
        }
        &.former-object-item-clear {
            padding-bottom: 0;
            margin-bottom: 0;
        }
        &.former-object-half-width {
            width: 50%;
        }
        &.former-object-item-float-right {
            .former-object-item-content {
                >div {
                    float:right;
                }
            }
        }
        .former-object-item-content {
            position: relative;
            .ui-leaf-error {
                position: absolute;
                top: -25px;
                width: 1px;
                height: 1px;
            }
        }
        padding-bottom: 16px;
        padding-right: 12px;
        padding-left: 12px;

        &.former-object-label-hidden {
            
            .former-object-item-label {
                padding-bottom: 0;
            }
            .former-object-label-menu,
            .former-object-label-title {
                display: none
            }
        }
        .former-object-label-menu:empty {
            display:none;
        }
        .former-object-label-description {
            display: block;
            padding-bottom: 0px;
            padding-top: 2px;
            color: rgba(0, 0, 0, .25);
            opacity: .6;

            line-height: 24px;
            transition: opacity .2s;
            p {
                margin: 0;
                padding: 0;
                display:inline-block
            }
            &:hover {
                opacity: .9;
            }
        }
        &:hover {
            .former-object-item-label {
            .anticon-exclamation-circle {
                display: inline-block;
                }
            }
        }
        .former-object-item-label {
            position: relative;
            color: rgba(0, 0, 0, .55);
            font-size: 14px;
            padding-bottom: 8px;
            .ant-select {
                min-width: 40px;
            }
            .former-switch,
            > button,
            > input,
            > span {
                display: inline-block;
                vertical-align: middle;
                margin-right: 4px;
            }
            .ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
                border-color:#fff;
                background-color: transparent;
                cursor: pointer;
                &:Hover {
                    border-color:var(--main-bg-color)
                }
            }
            .ant-checkbox-inner {
                width: 12px;
                height: 12px;
            }

            .anticon-exclamation-circle {
                margin-right: 8px;
                position: relative;
                top: 1px;
                opacity: .3;
                margin-left: -4px;
                transition: all .2s;
                transform: scale(.8);
                display: none;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                }
            }

            .former-object-label-collapse {
                display: block;
                position: absolute;
                top: 50%;
                margin-top: -7px;
                left: -14px;
                font-size: 12px;
                color: #ccc;
                cursor: pointer;
                -webkit-user-select: none;
            }

            button {
                opacity: .4;
                transition: all .2s;

                &:hover {
                    opacity: 1;
                }
            }

        }

        &:last-child {
           // padding-bottom: 0;
        }

        .former-object-label-title {
            display: inline-block;
            vertical-align: middle;
            padding-right: 8px;

            .anticon {
                margin-right: 4px;
            }
        }

        .former-object-label-menu {

            display: inline-block;
            vertical-align: middle;
            position: relative;
            width: 12px;
            height: 22px;

            .design-leaf-oneOf {
                position: absolute;
                top: 50%;
                height: 7px;
                margin-top: -3px;
            }
        }
        .former-object-item-content {
            > .former-object {
                padding: 16px;
                border: 1px solid var(--secondary-border-color);
                border-radius: 12px;
                .former-group-item-content {
                    .former-object-item:last-child {
                        padding-bottom: 0
                    }
                }
            }
            .ant-space-compact {
                .ant-select-selector {
                    cursor: pointer;
                }
                .ant-select {
                    min-width: 10px;
                }
                margin-right: 16px;
                //width: calc(100% - 16px);
            }
        }
        .model-switch {
            opacity: .6;
        }

        .ant-switch {

            vertical-align: middle;
        }
    }

    .former-object-collapse-on {
        >.former-object-item-content {
            display: none;
        }
    }

    .former-object-align-inline {

        >.former-object-item-label,
        >.former-object-item-content {
            display: inline-block;
        }
    }

    .former-object-label-indent {
        >.former-object-item-label {
            padding-left: 1rem;
        }
    }

    .former-object-content-indent {
        >.former-object-item-content {
            padding-left: 1rem;
        }
    }
}
.ant-spin-container {
    >.former-object:last-child {
        >.former-group:last-child {
            >.former-group-item:last-child {
                margin-bottom: 0;
                >.former-group-item-content {
                    >.former-object-item:last-child {
                        margin-bottom: 0;
                      //  padding-bottom: 0;
                    }
                }
            }
        }
    }
}