.former-array {
    position: relative;
    border: 1px solid var(--main-border-color);
    
    min-height: 30px;
    border-radius: 12px;
    padding:16px 8px ;
                        
    &.former-array-error {
        border-color: #ff4d4f;
        &:hover {
            border-color: #ff4d4f !important;
        }
    }
    .former-array-content {
        max-height: 227px;
        overflow-y: auto;
        .ant-select-disabled,
        .ant-input-disabled {
            opacity: .9;
        }
    }
    &.former-array-disabled {
        .fomre-array-item-toolbar,
        .former-array-item-remove {
            display:none;
        }
    }
    &:Hover {

        > .former-array-add {
            > span {
                opacity: 0.4;
            }
        }
    }
    &.former-array-nochildren {
        .former-array-empty {
            margin-top: 0;
            border:none;
        }
        &:Hover {
            border-color:var(--main-bg-color);
        }
    }
    .former-array-limit {
        font-size:16px;
        text-align: center;
        color:#999;

        line-height: 35px;
        > span {
            opacity: .3;
        }
    }
    .former-array-empty {
        font-size: 16px;
        text-align:center;
        line-height: 35px;
        color:#999;
        border-radius: 6px;;
        border: 1px dashed var(--main-border-color);
        margin-top: 8px;
        > span {
            opacity: .3;
        }
        cursor: pointer;
        &:hover {
            border-color: var(--main-bg-color);
            color: var(--main-bg-color);
        }
    }
    .former-array-item {
        position: relative;
        padding: 8px;
        padding-left: 10px;
        translate: all .4s;
        background:#fff;
        border-bottom: 1px dashed #eee;
        border-radius: 12px;;
        padding-left: 30px;
        margin-bottom: 4px;
        transition: all .2s;
        font-size:14px;
        .former-map {
            width: 96%;
        }
        .former-object .former-object-item.former-object-default .former-object-label-title  {
            font-size:14px;
        }
        .former-array-advanced-wrapper {
            text-align: right;
            padding-right: 6px;
            position: relative;
            top: -18px;
            margin-bottom: -22px;
            font-size:12px;
        }

        .former-array-advanced {
            display: inline-block;
            cursor: pointer;
            margin-left: -32px;
            margin-top: -8px;
            opacity: .4;

            &.ant-popover-open,
            &:hover {
                color:var(--main-bg-color);
                opacity: 1;
            }
        }
        
        .former-object {
            width: calc(100% + 12px);
        }
        .fomre-array-item-toolbar {
            position: absolute;
            width: 24px;
            left: 2px;
            top: 36px;
            overflow: hidden;
            z-index: 111;
            transition: all .2s;
            span {
                position: relative;
                display: block;
                margin-bottom: 4px;
                font-size:16px;
                opacity: 0;
                margin-top: -62px;
                transition: all .4s;
                
                &:Hover {
                    transform: scale(1.2);
                    opacity: .9;
                    color: var(--main-bg-color);
                }
            }
        }
        .former-object-item {
            margin-bottom: 8px !important;
            padding-bottom: 0px;
        }
        &::after {
            content: '#'attr(data-index);
            display:block;
            position: absolute;
            position: absolute;
            left: 2px;
            top: 10px;
            min-width: 14px;
            font-size:12px;
            text-align: center;
            height: 14px;
            line-height: 14px;
            padding: 2px;
            border-radius: 3px;
            background-color: #999;
            color:#fff;
            opacity: .3;
        }
        &:last-child {
            border-bottom: none;
        }
        &:hover {
            background: #f9f9f9;
            >.former-array-item-remove {
                opacity: 1;
                span {
                    transform: scale(1);
                }
            }
            > .fomre-array-item-toolbar {
                
                span {
                    margin-top: 0;
                    opacity: .4;
                    
                }
            }
            &::after {
                background-color: #000;
            }
            .former-array-advanced {
                opacity: .9;
            }
        }
        .former-array-item-remove {
            position: absolute;
            top: 4px;
            right: 6px;
            translate: all .6;
            opacity: 0;
            span {
                font-size:14px;
                transition: all .4s;
                cursor: pointer;
                color:red;
                background:#fff;
                border-radius: 6px;
                opacity: 0.5;
                transform: scale(.5);
                transition: all .2s;
                &:hover {
                    opacity: 1;
                    transform: scale(1.2);
                }
            }
        }
    }
    .former-array-add {
        position: absolute;
        height: 100%;
        width: 6px;
        top:0;
        left: -1px;
        z-index: 1;
        border-left: 3px solid #d9d9d9;
        border-radius: 3px;
        cursor: pointer;
        transition:all .2s;
        &:hover {
            border-left-color:#aaa;
            span {
                opacity: 1;
                transform:rotate(90deg);
            }
        }
        span {
            position: absolute;
            top: 50%;
            margin-top:-6px;
            left: -8px;
            font-size:12px;
            opacity: 0;
            transition: all .4s;
            background:#fff;
            border-radius: 6px;
        }
    }
}