.ui-pick-wrapper {
    padding-top: 8px;
    .tabler-wrapper .ant-table.ant-table-layout-fixed .ant-table-content {
        border-left: none;
        border-right: none;
    }
    .tabler-searcher {
        .ant-select {
            min-width: 100px !important;
        }
    }

    .tabler-cell-wraper {
        span.anticon {
            font-size: 24px;
        }
        .ui-viewer {
            span.anticon {
                font-size: 16px;
            }
        }
    }
}