.hoofs-sidebar-header {
    padding: 16px 0px 8px 0;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    margin: 0 24px;
    color:var(--main-bg-color);
    border-bottom: 0.5px solid var(--secondary-border-color);
    height: 36px;
    padding-bottom: 12px;
    
    .hoofs-sidebar-header-title {
        position: relative;
        padding-left: 36px;
        height: 100%;;

        .hoofs-sidebar-header-icon {
            width: 32px;
            height:32px;
            text-align: center;
            line-height: 32px;
            border-radius: 16px;
            position: absolute;
            left: -18px;
            top: 50%;
            margin-top: -25px;
            font-size: 52px;
            opacity: 1;
            transition: all .2s;
        }
        p {
            display:block;
            padding: 0;
            margin: 0;
            font-size: 18px;
            color:var(--main-front-color);
            opacity: .8;
            overflow: hidden;
        }
        > span {
            display:block;
            font-size: 12px;
            color:var(--main-front-color);
            opacity: .4;
            font-weight: 400;
            overflow: hidden;
            height: 16px;
        }
        .hoofs-sidebar-header-fold-open {
            display: none;
        }
        .hoofs-sidebar-header-fold-open,
        .hoofs-sidebar-header-fold {
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            position: absolute;
            top: 50%;
            margin-top: -15px;
            border-radius: 3px;
            right: -8px;
            color:var(--main-front-color);
            opacity: .5;
            transition: all .2s;
            cursor: pointer;
            &:hover {
                opacity: .7;
                background-color: var(--main-active-background-color);
            }

            span {
                display:inline-block
            }
        }

    }
}

.hoofs-sidebar-fold {
    width: 95px;
    .hoofs-sidebar-header-fold {
        display:none;
    }
    dt {
        display:none;
    }
    
    .hoofs-sidebar-header:hover {
        .hoofs-sidebar-header-icon {
            opacity: 0;
        }
        .hoofs-sidebar-header-fold-open {
            right: auto !important;
            left: -8px;
            display: block !important;
        }
    }
    .hoofs-sidebar-menu-text {
        width: 0;
        
    }
    .hoofs-sidebar-header-title {
       
        >span,
        >p {
            display: none
        }
    }
}

.hoofs-sidebar {
    width: 245px;
    height: 100%;
    color:var(--main-front-color, #333);
    font-size:20px;
    position: relative;
    z-index: 110;

    box-sizing: border-box;

    padding: 16px;
    padding-right: 0;
    transition: all .2s;
    .ui-sidebar-wrapper {
        border-radius: 12px;
        background: #fff;
        border: 1px solid var(--secondary-border-color);
        height: 100%;
        box-shadow: 0 2px 4px 4px rgba(30, 30, 31, 0.0292156863);
        
    }

    dd {
        height: 28px;
        word-break: break-all;
        white-space: nowrap;
        text-overflow: ellipsis; 
        
        .hoofs-sidebar-menu-text {
            transition: all .2s;
            opacity: 1;

            vertical-align: middle;
        }
        a.hoofs-sidebar-menu-text {
            display: inline-block;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            text-decoration: none;
            height: 32px;
            line-height: 32px;
            text-indent: 28px;
            vertical-align: middle;
            color:var(--main-front-color, #333);
        }
        span.anticon{
            font-size: 20px;
            vertical-align: middle;
        }
    }
    

    &.hoofs-sidebar-fold {
        width: 80px;
       
        dd {
            .hoofs-sidebar-menu-text  {
                opacity: 0;
            }
            .hoofs-sidebar-tool,
            .hoofs-sidebar-menu-text  {
                display:none;
            }
            &:hover {
                .hoofs-sidebar-menu-text {
                    display: inline-table;
                    background:#fff;
                    border-radius: 4px;
                    opacity: 1;
                    position: absolute;
                    overflow: hidden;
                    white-space: nowrap;
                    border-radius: 12px;
                    top: 0;
                    left: 55px;
                    padding: 5px 8px;
                    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
                }
            }
        }
    }

    dl {
        padding: 0 12px;
        margin-bottom: 24px;
        margin-block-start: 12px;
        dt {
            padding-left: 8px;
            padding-bottom: 8px;
            opacity: .3;
            text-transform: capitalize;
        }
        
        dd {
            position: relative;
            &:hover {
                background-color: var(--main-hover-background-color) !important;
            }
            &.ui-select {
                background-color: var(--main-active-background-color);
                color:var(--main-focus-front-color)
            }
            border-radius: 8px;;
            margin: 4px 0;
            padding: 6px 10px;
            margin-inline-start: 0;
            cursor: pointer;
            .sidebar-shortcut-icon {
                padding: 0px 4px;
                border-radius: 4px;
                background-color: #4e44d7;
            }
            .hoofs-sidebar-menu-text {
                padding-left: 8px;
                text-transform: capitalize;
                overflow: hidden;
            }
            .hoofs-sidebar-tool {
                position: absolute;
                right: 8px;
                font-size:14px;
                top:8px;
                opacity: .5;
            }
        }
    }
}

.hoofs-sidebar-roadmap {
    opacity: .6;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    padding: 16px;
    padding-right: 0;
    padding-top: 0;
    dl {
        margin-bottom: 16px;
    }
}