.hoofs-sidebar-header {
    padding: 12px 0px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    margin: 0 24px;
    color:#C7D2FE;
    border-bottom: 1px solid rgba(255,255,255, .094);

    .hoofs-sidebar-header-title {
        position: relative;
        padding-left: 32px;

        .hoofs-sidebar-header-icon {
            width: 32px;
            height:32px;
            text-align: center;
            line-height: 32px;
            border-radius: 16px;
            position: absolute;
            left: -8px;
            top: 50%;
            margin-top: -16px;
            font-size: 32px;
        }
        p {
            display:block;
            padding: 0;
            margin: 0;
            font-size: 14px;
            color:#fff;
        }
        > span {
            display:block;
            font-size: 12px;
            opacity: .5;
        }
        .hoofs-sidebar-header-fold-open {
            display: none;
        }
        .hoofs-sidebar-header-fold-open,
        .hoofs-sidebar-header-fold {
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            position: absolute;
            top: 50%;
            margin-top: -15px;
            border-radius: 3px;
            right: -8px;
            cursor: pointer;
            &:hover {
                background-color: #4e44d7;
            }

            span {
                display:inline-block
            }
        }

    }
}

.hoofs-sidebar-fold {
    width: 60px;
    .hoofs-sidebar-header-fold {
        display:none;
    }
    dt {
        display:none;
    }
    
    .hoofs-sidebar-header:hover {
        .hoofs-sidebar-header-icon {
            display: none;
        }
        .hoofs-sidebar-header-fold-open {
            right: auto !important;
            left: -8px;
            display: block !important;
        }
    }
    .hoofs-sidebar-header-title {

        >span,
        >p {
            visibility: hidden;
        }
    }
}

.hoofs-sidebar {
    width: 245px;
    height: 100%;
    background: #4338CA;
    color:#C7D2FE;
    font-size:16px;
    position: relative;

    dd {
        span.anticon{
            font-size: 18px;
        }
    }
    

    &.hoofs-sidebar-fold {
        width: 60px;
       
        dd {
            
            .hoofs-sidebar-tool,
            .hoofs-sidebar-menu-text  {
                display:none;
            }
            &:hover {
                .hoofs-sidebar-menu-text {
                    display: block;
                    background:rgba(0,0,0,.8);
                    border-radius: 4px;
                    position: absolute;
                    white-space: nowrap;
                    top: 0;
                    left: 50px;
                    padding: 5px 8px;
                }
            }
        }
    }

    dl {
        padding: 0 12px;
        margin-bottom: 24px;
        dt {
            padding-left: 8px;
            padding-bottom: 8px;
            color:#818CEE;
            text-transform: capitalize;
        }
        
        dd {
            position: relative;
            &:hover {
                background-color: #4e44d7;
            }
            &.ui-select {
                background-color: #342BAA;
                color:#fff;
            }
            border-radius: 8px;;
            margin: 4px 0;
            padding: 6px 10px;
            margin-inline-start: 0;
            cursor: pointer;
            .sidebar-shortcut-icon {
                padding: 0px 4px;
                border-radius: 4px;
                background-color: #4e44d7;
            }
            .hoofs-sidebar-menu-text {
                padding-left: 8px;
                text-transform: capitalize;
            }
            .hoofs-sidebar-tool {
                position: absolute;
                right: 8px;
                font-size:14px;
                top:5px;
                opacity: .5;
            }
        }
    }
}

.hoofs-sidebar-roadmap {
    opacity: .6;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    dl {
        margin-bottom: 16px;
    }
}