.ui-link {
    &:hover {
        a {
            text-decoration: underline;;
        }

    }
    a {
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        //width: calc(100% - 20px);
        text-overflow: ellipsis;
    }
    span {
        margin-right: 4px;
    }
    display: inline-block;
    width: 100%;

}