@keyframes music-move {
    0% {
        margin-left: 0px;
    }

    33% {
        margin-left: -5px;
    }

    66% {
        margin-left: 0;
    }

    100% {
        margin-left: 5px;
    }
}
.ant-drawer .ant-drawer-close  {
    margin-left: -8px;
}
.ant-drawer-title {
    >span {
        margin-right: 8px;
    }
    .ui-header {
        display:inline-block;
        vertical-align: middle;
    }
}

.ui-tabler-former {
    .ui-stepone {
        padding-left: 4px;
    }
    .ant-drawer-header-title {
      .ui-former-header {
        .ant-space-item
       
        > .anticon {
          font-size:24px;
          vertical-align: middle;
          opacity: .6;
        }
      }
    }
  }
.ui-popover-former {
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: calc(100vh - 20px);
    .ant-popover-title {
        font-size: 16px;
        opacity: .6;
         .ui-avatar-merge {
            margin-right: 4px;
        }
        > span {
            margin-right: 4px;
            font-size:20px;
        }
    }
    .ant-popover-inner-content {
        padding: 8px;
        
        position: relative;

        padding-bottom: 0px;
        .former-column-two {
            
            max-height: calc(100vh - 142px);
            overflow-y: auto;
        }
    }
}
.ui-tabler-former {
    .ant-drawer-body {
        .ui-former-notice {
            margin-bottom: 42px;
        }
    }
    .former-column-two {
       
    }
    .ant-drawer-title {
        > span.anticon {
            font-size:24px;
            vertical-align: bottom;
            margin-right: 4px;
        }
    }
}
.former-error-message {
    color: red;
    display: block;
    opacity: .7;
    font-size: 12px;
    transition: all .2s;
    padding-top: 0px;
    position: absolute;
    margin-top: -20px;
    margin-left: 0px;
    pointer-events: none;
    height: 20px;
    background-color: #fff;
}

.former-open-error {
    display: inline-block;
    position: relative;
    width: 100%;
    //animation: music-move .5s infinite alternate ease-in-out;

}

.former-column-one {

    .former-object {
        .former-object-item {
            width: 100%;

            &.former-column-colspan-two {
                width: 100%;
            }

            &.former-column-colspan-three {
                width: 100%;
            }
        }
    }
}
.former-column-two,
.former-column-one,
.former-column-three {
    .ui-background-dwbg {
        z-index: 0;
    }
}  
.former-object-item-content {
   
}
.former-column-two {

    .former-object {
        .former-object-item {
            width: 50%;
            .former-object-item-content{
                
            }

            &.former-object-colspan-two {
                width: 100%;
            }

            &.former-column-colspan-three {
                width: 100%;
            }
        }
    }
}

.former-column-three {
    .former-object {
        .former-object-item {
            width: 33.33%;

            .ant-select {
                min-width: 100%;
                max-width: 100%;
            }

            &.former-column-colspan-two {
                width: 66.66%;
            }

            &.former-column-colspan-three {
                width: 100%;
            }
        }
    }
}

.drawer-type-small {
    .ant-drawer-title {
        opacity: .8;
    }

    .ant-drawer-header {
        padding: 8px 12px;
    }
}

.formar-logo-container {
    position: absolute;
    top: 48px;
    right: 20px;
    width: 100px;
    height: 100px;
    opacity: .1;
    font-size: 80px;
}

.ui-former-buttons {
    padding-top: 16px;
    text-align: right;
}

.ui-former {
    .ant-input-outlined[disabled] {
        background-color: rgba(0, 0, 0, 0.01);
    }
    .ant-drawer-close {
        .anticon-close {
            transition: all .2s;
        }

        &:hover {
            .anticon-close {
                transform: rotate(90deg);
            }
        }
    }
}