@import './tabler.scss';
@import './filter.scss';
@import './list.scss';

.ant-space {
    .ant-tag {
        margin-right: 0;
    }
}

.ui-tabler-former {
    .former-column-two {
        .ui-former-notice {
            margin-bottom: 16px;
        }
    }
    .ant-drawer-title {
        > span.anticon {
            font-size:24px;
            vertical-align: bottom;
            margin-right: 4px;
        }
    }
}
.ui-createdat-wrapper {
    opacity: .5;
}