.ui-output-tips {
    &.ui-output-fullscreen {
        position: fixed !important;
        width: calc(100vw);
        height: calc(100vh);
        box-sizing: border-box;
        padding: 32px;
        z-index: 111;
        left: 0;
        top: 0;
        opacity: 1;
        background-color: #fff;
         div.ui-output-header {
            left: 32px;
            top: 24px;
            position: absolute;
            width: calc(100% - 32px);
            font-size: 16px;
            
            .ant-space {
                position: absolute;
                right: 32px;
            }
        }
        .ui-run-log-output {
            margin-top: 24px;
            padding: 24px !important;
            left: 0px !important;
            width: 100%;
            border-radius: 12px;
            font-size: 14px;
            
            box-sizing: border-box;
            max-height: calc(100% - 40px);
            height: calc(100% - 40px);
            border: 1px solid var(--main-border-color);
            .ant-tabs-nav {
                margin-bottom: 16px;
            }
            .ant-tabs-tab {
                padding: 2px 8px;
                font-size:14px;
            }
        }
    }

    .ant-descriptions-item-container {
        display: block;
        
    }
    .ant-descriptions .ant-descriptions-item-label::after {
        margin-inline: 0;
        display: none;;
    }
    .ant-descriptions-item-container {
        .ant-descriptions-item-content{
            display: block;
            position: relative;
            line-height: 15px;

        }
        .ant-descriptions-item-label {
            display:block;
            text-transform: capitalize;
        }
    }
    .ant-table-wrapper .ant-table {
        background-color: transparent;
    }
    &.ui-output-expand {
        .ui-output-header {
          
        }
        .ui-run-log-output {
            display:none;
        }
    }
    .ui-run-log-output {
        max-height: 120px;
        overflow: auto;
        word-wrap: normal;
        padding: 8px;
        word-break: break-all;
        .ant-tabs-tab {
            padding: 0 2px;
            font-size:12px;
            opacity: .5;
            transition: all .2s;
            &:hover {
                opacity: .8;
            }
        }
        .ant-tabs-extra-content {
            .anticon {
                padding-right: 8px;
                opacity: .5;
            }
        }
        .ant-tabs-nav {
            margin-bottom: 4px;
        }
        .ant-tabs .ant-tabs-tab+.ant-tabs-tab {
            margin-left: 4px;
        }
        pre {
            margin: 0;
            line-height: 16px;
            white-space: pre-wrap;
            word-wrap: break-word; /* For legacy browsers */
            word-break: break-all;
        }

    }
    .ui-output-header {
        position: relative;
        .ant-space {
            position: absolute;
            top: 1px;
            right: 1px;
            cursor: pointer;
            span {
                opacity: .5;
            }
            span:hover {
                opacity: 1;
            }
            span.ui-selected {
                opacity: .9;
                color:var(--main-bg-color)
            }
        }
    }
    .ant-segmented {
        padding: 0;
        top: -4px;
        position: relative;
        background-color: transparent;
        font-size: 12px;
        .ant-segmented-item-selected {
            color:var(--main-bg-color)
        }
    }
}