.ui-former-color-view {
    display:inline-block;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    vertical-align: middle;
}
.ui-former-color-viewtext {
    display: inline-block;
    vertical-align: middle;
    padding-left: 4px;
}