.box-introduce-content {

    padding-left: 32px;
    
    padding-top: 64px;
    font-size:18px;
    line-height: 1.5;
    blockquote {
        padding: 16px;
        margin-top: 64px;
        margin-left: 0;
        margin-right: 0;
        border-radius: 12px;
        border-left: 3px solid #ddd;
        background-color: #f9f9f9;
        p {
            padding: 0;
            margin: 0;
        }
    }
    h2 {
        margin-top: 64px;
    }
    table {
        border-radius: 12px;
        overflow: hidden;;
        width: 100%;
        border-spacing: 0px;
        text-align: left;
        line-height: 2em;
        margin: 32px 0;
        border: 1px solid #f2f2f2;
        
        
        tbody {
            tr {

                &:Hover {
                    background-color: #f2f2f2;
                }
                &:last-child {
                    td {
                        border-bottom: none;
                    }
                }
            }
        }
        th {
            padding-top: 8px;
            padding-bottom: 8px;
            border-bottom: 2px solid #f2f2f2;
            padding-left: 16px;
        }
        td {
            padding-left: 16px;
            border-bottom: 1px solid #f2f2f2;
        }
    }
}
.box-introduce {
    display:flex;
    align-items: center;
    .box-introduce-media {
        width: 48%;
        padding-left: 5%;
        img {
            width: 100%;
            border-radius: 32px;
        }
    }

    &.box-noimage {
        .box-introduce-media {
            display:none;
        }
        .box-introduce-desc {
            width: 100%;
            text-align: center;
        }
    }
   
    .box-introduce-desc {
        width: 52%;
        padding-left: 32px;
        h2 {
            font-size:42px;
        }
        p {
            font-size:24px;
            opacity: .5;
        }
        li {
            padding-bottom: 8px;
        }
        .box-actions {
            a{
            display: inline-block;
            color: var(--main-bg-color);
            text-decoration: none;
            font-size:18px;
            padding: 8px 16px;
            border-radius: 32px;
            }
        }
    }

    &.box-introduce-theme-right {
        flex-direction: row-reverse;
        .box-introduce-desc {
            padding-left: 0;
        }
    }
}