.ui-layout {
    height: 100%;
    .hoofs-sidebar {
        float:left;
    }
    .ui-layout-content {
        height: 100%;
        overflow: hidden;
    }
}

.ant-tooltip .ant-tooltip-inner  {
    background-color: #fff;
    color:var(--main-front-color);
}
.ant-tooltip .ant-tooltip-arrow:before {
    background-color:#fff;
}