.ui-smartpage-wrapper {
   height: 100%;
   .ui-classify-wrapper {
      padding: 16px 24px;
   }
   .ui-mircotable {
        height: calc(100vh);
        overflow-y: auto;
        .ant-list{
         padding-top: 16px;
        }
   } 

   .ant-table-title{
      min-height: 16px;
  }
  >.ant-spin-nested-loading {
   height: 100%;
   .ant-spin-container{
      height: 100%;
   }
  }
  .ui-classify-noheader {
   .ui-classify-panel {
      .ui-header {
         display: none;
      }
   }
  }
  
}
.ant-drawer-body {
   .ui-smartpage-wrapper .ui-classify-wrapper {
      padding: 0;
      margin-top: -8px;
   }
}