.ui-smartpage-drawer {
   .ui-smartpage-wrapper {
      .ui-folder-body {
         padding: 24px;
         overflow: auto;;
      }
   }
   
   .ui-folder-wraper .ui-filter-folder {
      background-color: #fff;
   }
}

.ui-smartpage-popover {
   min-width: 450px;
   max-width: 450px;
   padding-top: 10px;
   padding-bottom: 10px;
   max-height: calc(100vh - 20px);
   .ant-popover-inner-content {
       padding: 8px;
       padding-bottom: 0;
       max-height: calc(100vh - 100px);
       overflow: auto;
   }
   .ant-popover-title {
       opacity: .7;
       border-bottom: 1px solid var(--main-inverse-border-color, rgba(5, 5, 5, 0.06));
       padding-bottom: 8px;
       font-size: 16px;
       .anticon {
           margin-right: 4px;
           font-size:18px;
           bottom: -1px;
           position: relative;

           opacity: .6;
           
       }
   }
   .ui-former-buttons {
       margin-top: 32px;
       padding-top: 16px;
       border-top: 1px dashed var(--secondary-bg-color)
   }

}
.ui-smartpage-popover-wrapper {
   display:inline-block;
}


.ui-smartpage-wrapper {
   height: 100%;
   min-height: 420px;
   
   .ui-classify-wrapper {
      padding: 16px 24px;
   }

   .ui-mircotable {
      height: calc(100vh - 123px);
      overflow-y: auto;
      box-sizing: border-box;
      padding: 0 16px;
      width: calc(100% + 32px);
      margin-left: -16px;

      .ant-list {
         padding-top: 16px;
      }
   }

   .ant-table-title {
      min-height: 16px;
   }

   >.ant-spin-nested-loading {
      height: 100%;

      .ant-spin-container {
         height: 100%;
      }
   }

   .ui-classify-noheader {
      .ui-classify-panel {
         .ui-header {
            display: none;
         }
      }
   }

}

.ant-drawer-body {
   .ui-smartpage-wrapper .ui-classify-wrapper {
      padding: 0;
      margin-top: -8px;
   }
}