.former-map {
    position: relative;
    border: 1px solid #d9d9d9;
    
    min-height: 30px;
    border-radius: 6px;
    &.former-map-error {
        border-color: #ff4d4f;
        &:hover {
            border-color: #ff4d4f !important;
        }
    }
    &:not(.former-map-disabled):Hover {

        > .former-map-add {
            > span {
                opacity: 1;
            }
        }
        border-color: var(--main-bg-color);
        .former-map-empty {
            color:#888;
            
        }
        .former-map-add  {
            border-color: var(--secondary-bg-color);
            
        }
    }
    .former-map-empty {
        font-size: 14px;
        text-align:center;
        line-height: 40px;
        color:#aaa;
        border-radius: 6px;
        cursor: pointer;

        
        &.former-map-disabled {
            cursor: default;
        }
        &:not(.former-map-disabled):hover {
            color:var(--main-bg-color)
        }
       
    }
    .former-map-item {
        position: relative;
        padding: 8px;
        padding-left: 10px;
        translate: all .4s;
        border-radius: 6px;
        border-bottom: 1px dashed #eee;
        .ui-scope {
            height: 24px;
            .ui-scope-inner {
                height: 28px;
                padding: 2px 8px;
                padding-left: 22px;
            }
            .ui-scope-prefix > span.anticon {
                top: 6px;
            }
        }
        .number {
            display:inline-block;
            position: absolute;
            left: 8px;
            font-style: italic;
            opacity: .3;
            top: 50%;
            height: 20px;
            line-height: 20px;
            margin-top: -10px;
            font-size: 12px;
        }
        .former-map-item-right ,
        .former-map-item-left {
            width: 50%;
            box-sizing: border-box;
            position: relative;
            display:inline-block;
            vertical-align: top;
            padding-left: 14px;
            >span:first-child {
                opacity: .5;
            }
        }
        .former-map-item-left {
            padding-right: 4px;
            .ui-scope-inner {
                padding-left: 8px
            }
           
        }
        .former-map-item-right {
            padding-left: 4px;
            .ant-select-single {
                height: 28px;
            }
            .ant-select {
                width: 100%;
            }
        }
        &:last-child {
            border-bottom: none;
        }
        &:hover {
            background: #f9f9f9;
            >.former-map-item-remove {
                display:block;
                opacity: 1;
            }
        }
        .former-map-item-remove {
            position: absolute;
            top: 50%;
            height: 16px;
            margin-top: -8px;
            right: -10px;
            display:none;
            
            transition: all .2s;
            opacity: 0;
            span {
                font-size:16px;
                transition: all .4s;
                cursor: pointer;
                color:red;
                background:#fff;
                border-radius: 6px;
                &:hover {
                    transform:rotate(180deg);
                    opacity: 1;
                }
            }
        }
    }
    .former-map-add {
        position: absolute;
        height: 100%;
        width: 6px;
        top:0;
        left: 0px;
        z-index: 1;
        border-left: 3px solid #d9d9d9;
        border-radius: 3px;
        
        
        cursor: pointer;
        transition:all .2s;
        &:hover {
            span {
                opacity: 1;
                transform:rotate(90deg);
            }
        }
        span {
            position: absolute;
            top: 50%;
            margin-top:-6px;
            left: -10px;
            font-size:16px;
            opacity: 0;
            transition: all .4s;
            background:#fff;
            border-radius: 6px;
        }
    }
}